{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static  'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <section id="header">
            <h1>V<span>I</span>YANA</h1>
            

            <div>
                
                <ul id="navbar">
                    <li><a  href="{% url 'Index'%}">Home</a></li>
                    
                    <li><a href="{%url 'About'%}">About</a></li>
                    <li><a href="{%url 'Contact'%}">Contact</a></li>
                    <li><a  href="{% url 'Product' %}">Products</a></li>
                    <li><a  href="{% url 'AddProduct' %}">AddProducts</a></li>
                <li id="lg-bag"><a href="{%url 'Cart'%}"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-circle-xmark"></i></a>
            </ul>
            
           
        </div>
        <div id="mobile">
                <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i>

            </div>
        </section>

        {% block content %}


        {% endblock %}







        <!-- ............................... -->
        <footer class="section-p1">
            <div class="col">
                <h2>V<span>I</span>YANA</h2>
                <h4>Contact</h4>
                <p><strong>Address:</strong> 109 mp nagar,bhopal</p>
                <p><strong>Phone:</strong> +91 1234567890 ,+91 0123456789</p>
                <p><strong>Hours:</strong> 10:00 - 18:00,Mon-Sat</p>
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>

                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="#">About</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign in</a>
                <a href="#">View cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track MY Order</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>
                <div class="row">
                    <img src="{% static 'img/pay/app.jpg' %}" alt="">
                    <img src="{% static 'img/pay/play.jpg' %}" alt="">
                </div>
                <p>Secured Payment Gateways</p>
                <img src="{% static 'img/pay/pay.png' %}" alt="">
            </div>
            <div class="copyright">
                <p>© 1996-2023, viyana.com, Inc. or its affiliates.</p>
            </div>

        </footer>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       
    </body>

</html>